//  Mixins

// colors 

$beige: #FDFFD9;
$purple: #73185E;
$aqua: #36BBA6;
$green: #8B911A;
$black: #000;
$bg-green: #e3f6be;

$greenRGB: rgb(139, 145, 26);

// fonts

$Gotham: 'Gotham', sans-serif;
$Unica-One: 'Unica One', cursive;
$Montserrat: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
$Roboto-Slab: "Roboto Slab", serif;

// spacing

$header-margin: 50px;
