@import "variables";
@import "mixins";

body {
    width: 100%;
    height: 100%;
    font-family: $Roboto-Slab;
    color: black;
    margin-right: 0px;
}

html {
    width: 100%;
    height: 100%;
}

@font-face {
  font-family: 'Gotham';
  src: url('Gotham.ttf')  format('truetype')
}

hr {
    max-width: 50px;
    border-color: $purple;
    border-width: 3px;
}

h1,
h2 {
    margin: 0 0 35px;
    font-family: $Unica-One;
    font-weight: 700;
    letter-spacing: 1px;
}

.h2, h2 {
    font-size: 3em;
}

h3,
h4,
h5,
h6 {
    font-family: $Montserrat;
    margin: 0 0 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

.h3, h3 {
    font-size: 2.5em;
}

.h4, h4 {
    font-size: 1.9em;
}

p {
    margin: 0 0 25px;
    font-family: $Roboto-Slab;
    font-size: 18px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: $green;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary,20%);
    }
}

.light {
    font-weight: 400;
}

.section-header {
    color: $purple;
}

/*Custom Nav */
.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(white, 0.3);
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: white;
    .navbar-toggle {
        padding: 4px 6px;
        font-size: 16px;
        color: $purple;
        &:focus,
        &:active {
            outline: none;
        }

    }
    .navbar-brand {
        font-weight: 700;
        color: $purple;
        &:focus {
            outline: none;
        }
    }
    a {
        color: #c6c2c2;
    }
    .collapse-color {
        color: $purple;
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: rgba($purple, 0.8);
                    outline: none;
                    background-color: rgba(227, 246, 190, 0.2);
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba(black, 0.1);
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: white;
            border-bottom: 1px solid rgba(white, 0.3);
                a {
                    color:$purple;
                }
        }

        .collapse-color {
            color: #c6c2c2;
        }

    }
}

.nav-img {
    display: inline-block !important;
    height:35px;
        }

/*Intro Text*/

.intro {
    display: table;
    width: 100%;
    padding-top: 100px 0;
    text-align: center;
    background: url(../img/whiteleaf400.png) repeat center center fixed;
    height: 100vh;
    width: 100vw;
}

.brand-heading, .intro-text {
    color: $purple;
}

.brand-heading {
    margin-top: 13%; 
}

.highlight {
   background: rgba(white, .4);
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 4.2em;
}

.intro .intro-body .intro-text {
    font-size: 1.7em;
}

@media(min-width:768px) {
    .intro {
        height: 90vh;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 6em;
    }

    .intro .intro-body .intro-text {
        font-size: 1.8em;
    }
}


/*About*/

#about {
   /* background: url(../img/about-bg.png);*/
    background-repeat: repeat;
    -webkit-background-repeat: repeat;
    -moz-background-repeat: repeat;
    -o-background-repeat: repeat;
}

.row-about {
    padding-bottom:5%;
}

.about-header {
    background-color: #fff;
    color: $purple;

    h2 {
    padding-top: 5%;
    padding-bottom: 2%;
    width: 150px;
    margin: 0 auto;
    }

}

.header-elevator {
    color: $black;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
}

@media(min-width:1200px) {
    .header-elevator {
        text-align:left;
        padding-top: 10%;
        margin-top: 30%;
        margin-left: 50px;
    }
}

@media(min-width:990px) {

    #about {
    img {
        margin-top: -5%;
    }
}
}

#elevator {
    padding-left: 3%;
    vertical-align: middle;
    color: $black;

    @media(min-width:990px) {
        padding-left:8%;
    }
}

.content-section {
    padding-top: 10px;
}

/* Portfolio Section */

.portfolio-section {
    width: 100%;
    padding: 50px 0;
    color: white;
    center: center scroll;
    background: url(../img/about-bg.png) repeat center center fixed;

    h2 {
    color: $purple;
    }

}

 .portfolio-box>img {
    width:400px;
    margin: 0 auto;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba($green, .8);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: $Gotham;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 1.4em;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:767px) {
    .content-section {
    }

    .portfolio-section {
        padding: 50px 0;
    }

    .portfolio-box>img {
    width:100%;
}

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 1.3em;
    }

     .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 1.6em;
    }
}

.portfolio-inner {
    min-height:375px;
}

/*Experience*/
.experience-row {
    margin-top: 0%;

    h3 {
        webkit-margin-after: 0em;
    }
}

.mintz {
    background-color: $green;
}

.uconn {
    background-color: $aqua;
}

.sec {
    background-color: $purple;
}

.experience-inner {
    height: 425px;
    padding: 5% 2%;

    h4 {
        color:white;
    }

    ul {
        color:white;
    }

    h5 {
        color:white;
    }

    img {
    padding-bottom: 2%;
    }
}


/* Skills*/

.resume-container {
    background: url(../img/green-pattern770.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 90vh;
    width: 100vw;
    padding-top: 5%;

    @media(min-width:760px) {
            background: url(../img/green-pattern1400.png) no-repeat center center fixed;
        }

}

.center-container {
    max-width: 750px;
    margin: 0 auto;
    text-align:center;

    img {
        width:50px;

        @media(min-width:580px) {
            width: 75px;
        }
    }

    h5 {
        margin-top: 5%;
    }
}

.skills-inner {
    min-height: 100px;

    @media(min-width:580px) {
        min-height: 120px;
        }
    }

/*Contact*/
#contact {
    center: center scroll;
    background: url(../img/bg7.png) repeat center center fixed;
    padding-top:5%;
    padding-bottom: 5%;
    min-height: 300px;

        h1 {
            padding-bottom: 2%;
        }
}

.center-container-contact {
    max-width: 880px;
    margin: 0 auto;
}

@media(min-width:990px) {
    .contact-text {
        text-align:left;
    }
}

#contact {
    a {
        margin:0px;
        font-size:1.1em;
    }

    p {
        -webkit-margin-after: 0em;
    }
}

footer {
    padding: 2% 0;

    img {
    display:inline block;
    height: 30px;
    }

    h5 {
    color: $purple;
    font-size: 1.2em;
    margin-bottom: 0px;
    }
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);
}
